        /* .wrapper .center{
    padding-bottom: 100px;
} */
@media only screen and (max-width:750px) {
  .wrapper .center .common_content .richText_wrap .map_view{
    padding: 0 10px !important;
  }
  .wrapper .center .common_content .expert_wrap{
    padding: 0 16px !important;
  }
  .expert_wrap .box{
    width: 163px !important;
    height: auto !important;
    margin-right: 17px !important;
    margin-top: 16px !important;
  }
  .wrapper .center .common_content .expert_wrap .box:nth-child(2n){
    margin-right: 0 !important;
  }
  .expert_wrap .box .imgs{
    height: 203px !important;
  }
  .expert_wrap .box .info{
    height: auto !important;
  }
  .expert_wrap .box .info .name{
    font-size: 15px !important;
    margin-top: 11px !important;
    line-height: initial !important;
  }
  .expert_wrap .box .info .post{
    font-size: 10px !important;
  }
}
/* 地图 */
.wrapper .center .common_content .richText_wrap .map_view{
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;
  height: 501px;
  margin-bottom: 30px;
}
#localcontainer{
  width: 100%;
  height: 100%;
}
#BMapLib_trans0,.BMapLib_trans{
  left: 125px!important;
  top: auto!important;
  width:58px!important;
  height:31px!important;
}
.BMap_stdMpType1 .BMap_stdMpSlider, .BMap_stdMpType2 .BMap_stdMpSlider, .BMap_stdMpType3 .BMap_stdMpSlider, .BMap_stdMpType2 .BMap_stdMpZoom, .BMap_stdMpType0 .BMap_stdMpPan, .BMap_stdMpType1 .BMap_stdMpPan, .BMap_stdMpType3 .BMap_stdMpPan, .BMap_stdMpType4 .BMap_stdMpPan{
  display:block!important;
}
.BMap_stdMpZoom{
  top:45px!important;
}
.BMap_stdMpZoom .BMap_button{
  width: 22px!important;
  height: 21px!important;
  left: 12px!important;
  overflow: hidden!important;
  background-image: url(https://api.map.baidu.com/images/mapctrls2d0.png)!important;
  background-repeat: no-repeat!important;
  z-index: 10!important;
  position: absolute!important;
}
.BMap_stdMpZoomIn {
  background-position: 0 -221px!important;
}
.BMap_stdMpZoomOut{
  background-position: 0px -265px!important;
}

.expert_wrap{
  display: flex;
  justify-content: center;
}
.expert_wrap .box{
  width: 285px;
  /* height: 445px; */
  background: #f2f2f2;
  margin-right: 46px;
  margin-top: 40px;
}
.expert_wrap .box:nth-child(4n){
  margin-right: 0;
}
.expert_wrap .box .imgs{
  width: 100%;
  height: 356px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.expert_wrap .box .imgs img{
  width: 100%;
  height: 100%;
}
.expert_wrap .box .info{
  width: 100%;
  height: 150px;
  text-align: center;
}
.expert_wrap .box .info .name{
  font-size: 24px;
  color: #7f0e12;
  line-height: 30px;
  margin-top: 24px;
}
.expert_wrap .box .info .post{
  font-size: 14px;
  color: #333333;
  line-height: 25px;
  padding: 4px;
  box-sizing: border-box;
  text-align: justify;
  text-align-last: center;
  /* margin-top: 10px; */
}