@media only screen and (max-width:750px) {
  .searchVal{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .news_content .box{
    padding: 21px 17px 13px 17px !important;
    box-sizing: border-box;
  }
  .news_content .box .l_time{
    width: 60px !important;
    height: auto !important;
  }
  .news_content .box .l_time .num{
    font-size: 29px !important;
    line-height: auto !important;
  }
  .news_content .box .l_time span{
    margin-top: 0 !important;
  }
  .news_content .box .l_time .time{
    font-size: 12px !important;
    margin-top: 0 !important;
  }
  .news_content .box .r_cont{
    width: calc(100% - 70px) !important;
  }
  .news_content .box .r_cont .title{
    font-size: 15px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .news_content .box .r_cont .desc{
    font-size: 12px !important;
    line-height: 1.6 !important;
  }
  .news_content{
    padding-bottom: 37px !important;
  }
}
.news_content{
    padding-bottom: 100px;
}
.news_content .box{
    padding: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
}
.news_content .box:hover{
    background: #f5f5f5;
    cursor: pointer;
}
.news_content .box:hover .l_time .num{
    color: #7f0e12;
}
.news_content .box:hover .r_cont .title{
    color: #7f0e12;
}
.news_content .box .l_time{
    width: 103px;
    height: 100px;
    border-right: 1px solid #f0f0f0;
}
.news_content .box .l_time .num{
    font-size: 48px;
    color: #333333;
    /* font-weight: bold; */
    line-height: 48px;
}
.news_content .box .l_time span{
    display: block;
    width: 26px;
    height: 1px;
    background-color: #e5e5e5;
    margin-right: 26px;
    margin-top: 15px;
}
.news_content .box .l_time .time{
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
    margin-top: 15px;
}
.news_content .box .r_cont {
    width: calc(100% - 138px);
}
.news_content .box .r_cont .title{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    line-height: 1.5;
}
.news_content .box .r_cont .desc{
    font-size: 14px;
    line-height: 30px;
    color: #666;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
}
.searchVal{
    margin-top: 66px;
    margin-bottom: 26px;
    height: 68px;
    line-height: 68px;
    background: #f5f5f5;
    padding: 0 30px;
    box-sizing: border-box;
}
.searchVal p span{
    color: #7f0e12;
    font-weight: bold;
}