<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1300px"/>
    <title>客户服务</title>
    <link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/public.css">
    <link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/fontIcon/iconfont.css">
    <link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/head.css">
    <link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/footer.css">
    <link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/common.css">
    <link rel="stylesheet" href="//api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <link rel="stylesheet" href="${base}/static/plugins/element-ui/2.15.1/theme-chalk/index.min.css">
</head>
<body>
    <div class="wrapper" id='app' v-cloak>
        <#include "head.html" />
        <#include "right.html" />
        <div class="center">
            <div class="banner">
                <img src="{ms:global.host/}{ms:global.style/}/images/yygk_banner.jpg" alt="">
            </div>
            <div class="container">
                <div class="common_content fixedWidth" style="display: block;">
                    <ul class="column_list">
                        <li class="column_item" v-for="item in listData" @click="handleDetail(item)">
                            <a href="#" class="clearfix">
                                <p class="name fl">
                                    {{item.contentTitle}}
                                </p>
                                <p class="time fr">
                                    {{item.contentDatetime}}
                                </p>
                            </a>
                        </li>
                    </ul>
                    <div class="pagePC" v-if="page.contentCount>10">
                        <el-pagination
                            background
                            @current-change="getQueryList"
                            :page-size="page.pageSize"
                            prev-text="上一页"
                            next-text="下一页"
                            :current-page.sync="page.pageNo"
                            layout="prev, pager, next, jumper"
                            :total="page.contentCount">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
        <#include "foot.html" />
    </div>
</body>
<script type="text/javascript" src="${base}/static/plugins/vue/2.6.9/vue.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/app.js"></script>
<script type="text/javascript" src="${base}/static/plugins/vue-router/3.5.1/vue-router.js"></script>
<script src="{ms:global.host/}{ms:global.style/}/js/jquery.js"></script>
<script src="{ms:global.host/}{ms:global.style/}/js/swiper-3.4.2.min.js"></script>
<script src="${base}/static/plugins/element-ui/2.15.1/index.min.js"></script>
<script src="${base}/static/plugins/axios/0.18.0/axios.min.js"></script>
<script src="${base}/static/plugins/qs/6.6.0/qs.min.js"></script>
<script type="text/javascript" src="${base}/static/plugins/moment/2.29.1/moment.js"></script>
<!-- <script type="text/javascript" src="${base}/static/plugins/ms/1.0.0/ms.http.js"></script> -->
<script src="{ms:global.host/}/{ms:global.style/}/js/msHttps.js"></script>
<script type="text/javascript" src ="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>
<script>
    var app = new Vue({
        mixins:[mixin],
        data:function(){
            return {
                typePath: '<#if field.typeid?has_content>${field.typeid}<#if field.parentids?has_content>,${field.parentids}</#if><#else>0</#if>',
                page:{
                    //当前页数
                    pageNo: 1,
                    //每页文章条数
                    pageSize: 10,
                    //页数总数
                    pageTotal: 0,
                    //内容总数
                    contentCount: 0
                },
                listData:[]
            }
        },
        mounted:function() {
            this.getQueryList();
        },
        methods: {
            getQueryList: function(pageCur) {
                var that = this
                that.page.pageNo = pageCur
                ms.http.post("/cms/content/list.do", Object.assign({}, {
                    categoryId: '${field.typeid}'
                }, that.page)).then(function(res) {
                    that.page.contentCount = res.data.total
                    that.listData = res.data.rows.map(function(row) {
                        if (row.contentImg) {
                            var img = JSON.parse(row.contentImg)
                            if (img.length > 0) {
                            row.imageUrl = '{ms:global.host/}' + img[0].path
                            }
                        }
                        if(row.contentDatetime){
                            var date = new Date(row.contentDatetime.replace(/-/g,'/'));
                            var yy = date.getFullYear();
                            var mm = date.getMonth() + 1;
                            var day = date.getDate();
                            var yymm = yy + '/' + mm
                            row.day = day;
                            row.yymm = yymm;
                        }
                        return row
                    })
                    console.log('listData:', that.listData)
                }).catch(function(err) {
                    console.error('error:', err)
                })
            },
            handleComonTabs:function(item,index){
                this.tabIdx = index;
                // $('.common_content').hide();
                // $('.common_content').eq(index).show();
            },
            handleDetail:function(item){
                {ms:channel type='self'}
                    this.goto("{ms:global.url/}${field.typepath}/"+ item.id + ".html")
                {/ms:channel}
            }
        },
    }).$mount('#app')
</script>
</html>