<div class="header_wrap">
    <div class="header">
        <div class="header_top">
            <div class="header_bd fixedWidth clearfix">
                <div class="logo fl" @click="gotoHref('{ms:global.url/}/index.html')">
                    <img src="{ms:global.host/}/{ms:global.style/}/images/logo.png" alt="">
                </div>
                <div class="headImg fl">
                    <div class="imgCol" @click="goto('http://www.fzsdsyy.com/')">
                        <a href="http://www.fzsdsyy.com/" target="_blank" class="">福州市第二总医院神经精神病防治院</a>
                        <!-- <img src="{ms:global.host/}/{ms:global.style/}/images/fzsdsyy.png" alt=""> -->
                    </div>
                    <div class="imgCol" @click="goto('https://www.fzfybj.com/')">
                        <a href="https://www.fzfybj.com/" target="_blank" class="">福州市第二总医院妇幼保健院</a>
                    </div>
                </div>
                <div class="search fl">
                    <form id="searchDataForm1" action="{ms:global.host/}/mcms/search.do" method="post"> 
                        <div class="search_box clearfix">
                            <div class="l_inp fl">
                                <input type="text" id="fullText" class="inp" name="content_title" placeholder="请您输入关键词">
                            </div>
                            <!--  onclick="document.getElementById('searchDataForm1').submit();" -->
                            <div class="r_btn fr search_icon">
                                查询
                            </div>
                        </div>
                    </form>
                </div>
                <div class="optionsBtn fr">
                    <!-- {ms:channel typeid="1468769324850642945" type="self"}
                    <p class="btn" :class="{active: activeMenu.indexOf('1468769324850642945')!=-1}">
                        <a class="" href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">在线院刊</a>
                    </p>
                    {/ms:channel} -->
                    {ms:channel typeid="1468769388763447297" type="self"}
                    <p class="btn" :class="{active: activeMenu.indexOf('1468769388763447297')!=-1}">
                        <a class="" href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">客户服务</a>
                    </p>
                    {/ms:channel}
                    <p class="btn">
                        <a class="" href="http://ybj.fujian.gov.cn/" target="_blank">医保政策</a>
                    </p>
                    {ms:channel typeid="1730494815634968578" type="self"}
                    <p class="btn" :class="{active: activeMenu.indexOf('1730494815634968578')!=-1}">
                        <a class="" href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">书记信箱</a>
                    </p>
                    {/ms:channel}
                    {ms:channel typeid="1732705651589894146" type="self"}
                    <p class="btn" :class="{active: activeMenu.indexOf('1732705651589894146')!=-1}">
                        <a class="" href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">院长信箱</a>
                    </p>
                    {/ms:channel}
                </div>
            </div>
        </div>
       <div class="header_nav" :class="{'active':isFixed}" ref="headerNav">
           <ul class="nav fixedWidth clearfix">
                {ms:channel type='top' flag='nav' orderby='sort'}
                <#assign parentlink=field.typelink>
                <#assign parentchannel=field>
               <li class="column fl" :class="{active: activeMenu.indexOf('${field.typeid}')!=-1}" @mouseover="onMenuMouseOver('${field.typeid}')" @mouseleave="onMenuMouseLeave">
                   <a href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">${field.typetitle}</a>
                   <#if (field.childsize>0)>
                        <div class="content">
                            <div class="menu_wrap">
                                {ms:channel type='son' flag='nav2' orderby='sort'}
                                <div class="menu">
                                    <a href="<#if field.type==3>{ms:global.url/}/${field.typeurl}<#else>{ms:global.url/}/${field.typelink}</#if>">${field.typetitle}</a>
                                </div>
                                {/ms:channel}
                            </div>
                        </div>
                   </#if>
               </li>
               {/ms:channel}
           </ul>
       </div>
    </div>
    <div class="mobileHeaderWrap">
        <div class="header_mobile">
            <div class="row clearfix">
                <p class="logo fl" @click="gotoHref('{ms:global.url/}/index.html')">
                    <img src="{ms:global.host/}/{ms:global.style/}/images/logo.png" alt="">
                </p>
                <p class="icon fr">
                    <a href="javascript:;" class="menu_h" :class="{'active':isHeader}" @click="handleNavOpen">
                        <span></span>
                    </a>
                </p>
            </div>
            <div class="header_panel" :style="{height:height+'px'}" v-if="isHeader">
                <div class="search_box">
                    <div class="top">
                        <!-- {ms:channel typeid="1468769324850642945" type="self"}
                        <span class="label" @click="goto('<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>')">在线院刊</span>
                        {/ms:channel}
                        <span class="solid">|</span> -->
                        {ms:channel typeid="1468769388763447297" type="self"}
                        <span class="label" @click="goto('<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>')">客户服务</span>
                        {/ms:channel}
                        <span class="solid">|</span>
                        <span class="label">医保政策</span>
                    </div>
                    <form id="searchDataForm1" action="{ms:global.host/}/mcms/search.do" method="post"></form>
                        <div class="search">
                            <input type="text" name="content_title" id="" placeholder="搜索">
                            <!--  onclick="document.getElementById('searchDataForm1').submit();" -->
                            <p class="btn_icon">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/search-btn.png" alt="">
                            </p>
                        </div>
                    </form>
                </div>
                <ul class="ul_bd">
                    <li class="column">
                        <p class="name" @click="gotoHref('{ms:global.url/}/index.html')">
                            首页
                        </p>
                    </li>
                    {ms:channel type='top' flag='nav' orderby='sort'}
                    <#assign parentlink=field.typelink>
                    <#assign parentchannel=field>
                    <li class="column">
                        <#if (field.childsize>0)>
                        <p class="name active">
                            <!-- <a href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">${field.typetitle}</a> -->
                            <a href="#" @click="gotoHref('<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>')">${field.typetitle}</a>
                        </p>
                        <#else>
                        <!-- <a href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>">${field.typetitle}</a> -->
                        <p class="name">
                            <a href="#" @click="gotoHref('<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>')">${field.typetitle}</a>
                        </p>
                        </#if>
                        <#if (field.childsize>0)>
                        <div class="children clearfix">
                            {ms:channel type='son' flag='nav2' orderby='sort'}
                            <p class="child_name fl"><a href="#" @click="gotoHref('<#if field.type==3>{ms:global.url/}/${field.typeurl}<#else>{ms:global.url/}/${field.typelink}</#if>')">${field.typetitle}</a></p>
                            {/ms:channel}
                        </div>
                        </#if>
                    </li>
                    {/ms:channel}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="scrollTop" v-if="isTop" @click="toTop">
    <img src="{ms:global.host/}/{ms:global.style/}/images/arr_up.png" alt="">
</div>