<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1300px"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> -->
    <title>{ms:global.name/}</title>
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/public.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/index.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/fontIcon/iconfont.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/head.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/footer.css">
    <link rel="shortcut icon" href="{ms:global.host/}/{ms:global.style/}/images/favicon.ico" type="image/x-icon" />
</head>
<body>
     <div class="wrapper" id="app" v-cloak>
        <#include "head.html" />
         <div class="center" :class="{'active':isFixed}">
             <div class="banner">
                {ms:channel type='self' typeid='1468769596486352898' }
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {ms:arclist}
                        <div class="swiper-slide">
                            <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">
                        </div>
                        {/ms:arclist}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                </div>
                {/ms:channel}
             </div>
             <div class="bulletinBoard">
                 <ul class="bulletinBoard_wrap fixedWidth">
                     <li class="itemBox">
                         <div class="icon">
                             <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-1-a.png" alt="">
                             <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-1-b.png" alt="">
                         </div>
                         <p class="name">预约挂号</p>
                     </li>
                     {ms:channel type='self' size=1 typeid='1468766365345546244'}
                     <li class="itemBox" @click="goto('{ms:global.host/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-2-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-2-b.png" alt="">
                        </div>
                        <p class="name">专家门诊</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468771868154953730'}
                    <li class="itemBox" @click="goto('{ms:global.host/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-3-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-3-b.png" alt="">
                        </div>
                        <p class="name">就诊须知</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468759275814182916'}
                    <li class="itemBox" @click="goto('{ms:global.host/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-4-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-4-b.png" alt="">
                        </div>
                        <p class="name">交通指南</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468772052414922754'}
                    <li class="itemBox" @click="goto('{ms:global.host/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-5-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-5-b.png" alt="">
                        </div>
                        <p class="name">科室分布</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468772038850543618'}
                    <li class="itemBox" @click="goto('{ms:global.host/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-6-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-6-b.png" alt="">
                        </div>
                        <p class="name">就诊流程</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468772003291234306'}
                    <li class="itemBox" @click="goto('{ms:global.host/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-7-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-7-b.png" alt="">
                        </div>
                        <p class="name">办事流程</p>
                    </li>
                    {/ms:channel}
                 </ul>
             </div>
             <div class="news_wrap">
                <div class="news fixedWidth clearfix">
                    <div class="left_box fl">
                        <div class="banner_news">
                            <div class="swiper-container_news">
                                {ms:channel type='self'  typeid='1468759502730223618'}
                                <div class="swiper-wrapper">
                                    {ms:arclist size=7 flag='c' orderby='sort'}
                                    <div class="swiper-slide" @click="goto('{ms:global.url/}${field.typepath}/${field.id}.html')">
                                        <div class="cover_img">
                                            <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">
                                        </div>
                                        <div class="panel_box clearfix">
                                            <div class="timeBox">
                                                <h1 class="num">${field.date?string("dd")}</h1>
                                                <p class="text">${field.date?string("yyyy-MM")}</p>
                                            </div>
                                            <div class="news_info fr">
                                                <h3 class="title">${field.title}</h3>
                                                <div class="news_desc">
                                                    ${field.descrip}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {/ms:arclist}
                                </div>
                                {/ms:channel}
                                <!-- Add Pagination -->
                                <div class="swiper-pagination-news"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="right_box fl">
                        {ms:channel type='self'  typeid='1468759502730223618'}
                        <div class="newsList">
                            {ms:arclist size=7 flag='c' orderby='sort'}
                            <div class="row clearfix" @click="goto('{ms:global.url/}${field.typepath}/${field.id}.html')">
                                <div class="timeBox fl">
                                    <p class="num">${field.date?string("dd")}</p>
                                    <p class="time">${field.date?string("yyyy-MM")}</p>
                                </div>
                                <div class="desc fl">
                                    ${field.title}
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                    </div>
                </div>
                {ms:channel type='self'  typeid='1468759502730223618'}
                <div class="news_more" @click="goto('{ms:global.url/}${field.typelink}')">
                    查看全部
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                {/ms:channel}
             </div>
             <div class="notice_wrap">
                 <div class="notice fixedWidth">
                    <div class="tabbar clearfix">
                        <div class="tabs fl">
                            <p class="tab" :class="{'active':noticeIdx==index}"
                                @mouseover="noticeMouseover(item,index)"
                                @mouseLeave="noticeMouseLeave(item,index)"
                             v-for="(item,index) in noticeTab"
                              :key="index">{{item}}</p>
                        </div>
                        <div class="more fr" @click="handleMore">
                            查看全部
                            <i class="iconfont icon-youjiantou"></i>
                        </div>
                    </div>
                    <div class="notice_content">
                        {ms:channel typeid='1468759722604027905' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==0}">
                            {ms:arclist size=8 flag='c'}
                            <div class="box clearfix fl" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl"></div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time">
                                        ${field.date?string("yyyy/MM")}
                                    </p>
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468768992112312322' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==1}">
                            {ms:arclist size=8 flag='c'}
                            <div class="box clearfix fl" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl"></div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time">
                                        ${field.date?string("yyyy/MM")}
                                    </p>
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468760796815613954' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==2}">
                            {ms:arclist size=8 flag='c'}
                            <div class="box clearfix fl" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl"></div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time">
                                        ${field.date?string("yyyy/MM")}
                                    </p>
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468768639958548481' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==3}">
                            {ms:arclist size=8 flag='c'}
                            <div class="box clearfix fl" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl"></div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time">
                                        ${field.date?string("yyyy/MM")}
                                    </p>
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468768786826297346' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==4}">
                            {ms:arclist size=8 flag='c'}
                            <div class="box clearfix fl" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl"></div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time">
                                        ${field.date?string("yyyy/MM")}
                                    </p>
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468759722536919042' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==5}">
                            {ms:arclist size=8 flag='c'}
                            <div class="box clearfix fl" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl"></div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time">
                                        ${field.date?string("yyyy/MM")}
                                    </p>
                                </div>
                            </div>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                    </div>
                 </div>
             </div>
             <!--  -->
             <div class="expert_wrap">
                 <div class="expert fixedWidth">
                     <div class="title">
                        专家介绍
                     </div>
                     <div class="expert_content clearfix">
                        <div class="swiper-btn swiper-prev fl"></div>
                        <div class="swiper-container-expert swiper-container-horizontal fl">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="item in lines" @click="handleRouter(item)">
                                    <img :src="item.portraitUrl" alt="">
                                    <div class="info_fixed">
                                        <p class="name">{{item.name}}</p>
                                        <div class="dept clearfix">
                                            <span class="fl">{{item.departmentName}}</span>
                                            <span class="fl">{{item.technicalTitle}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div> -->
                        </div>
                        <div class="swiper-btn swiper-next fl"></div>
                     </div>
                     <div class="expert_more more">
                         查看全部
                         <i class="iconfont icon-youjiantou"></i>
                     </div>
                 </div>
             </div>
             <div class="department_wrap">
                 <div class="department fixedWidth">
                     <p class="title">科室导航</p>
                     <div class="depart_content">
                         <ul class="dept_tabs clearfix">
                            <li class="dept_tab fl"  :class="{active: idx==0}"
                             v-for="(depart, idx) in departments"
                            @mouseover="function(e){handleDeptMouseOver(e,idx)}"
                             >
                                <span>
                                    {{depart.typetitle}}
                                </span>
                            </li>
                         </ul>
                         <div class="dept_bd clearfix" :class="{active: idx==0}" v-for="(depart, idx) in departments">
                             <div class="item" :class="{active: idx2==deptIdx}" @click="goto(dep.typelink)" v-for="(dep, idx2) in depart.children">
                                 <div class="icon">
                                    <img :src="dep.path" alt="">
                                 </div>
                                 <p class="name">{{dep.typetitle}}</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="specialColumn">
                 <div class="special fixedWidth">
                    <div class="swiper-container-specail">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination-special"></div>
                    </div>
                    <div class="special_more more">
                        查看全部
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                 </div>
             </div>
             <div class="hr"></div>
             <div class="home_footer">
                 <div class="box fixedWidth">
                    <ul>
                        <li>
                            <a href="http://www.moh.gov.cn/wsb/index_2013.shtml" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.fjphb.gov.cn/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.fjmia.org/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.xmu.edu.cn/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://ybj.fujian.gov.cn/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-6.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                 </div>
             </div>
         </div>
         <#include "foot.html" />
         <#include "right.html" />
     </div>   
</body>
<script type="text/javascript" src="${base}/static/plugins/vue/2.6.9/vue.js"></script>
<script type="text/javascript" src="${base}/static/plugins/vue-router/3.5.1/vue-router.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/swiper-3.4.2.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/app.js"></script>
<script src="${base}/static/plugins/axios/0.18.0/axios.min.js"></script>
<script src="${base}/static/plugins/qs/6.6.0/qs.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/msHttps.js"></script>
<script type="text/javascript" src ="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>
<script>
    var app = new Vue({
        el:'#app',
        mixins: [mixin],
        data:function(){
            return {
                typePath: '<#if field.typeid?has_content>${field.typeid}<#if field.parentids?has_content>,${field.parentids}</#if><#else>0</#if>',
                activeTab: 0,
                tabs:[
                    {
                        name: '医院概况',
                        children:[
                            {
                                name: '医院简介'
                            },
                            {
                                name: '机构证件'
                            },
                            {
                                name: '医院文化'
                            },
                            {
                                name: '医院分布图'
                            },
                            {
                                name: '交通指南'
                            },
                            {
                                name: '院领导'
                            }
                        ]
                    },
                    {
                        name: '医院新闻',
                        children:[
                            {
                                name: '医院简介'
                            },
                            {
                                name: '机构证件'
                            },
                            {
                                name: '医院文化'
                            },
                            {
                                name: '医院分布图'
                            },
                            {
                                name: '交通指南'
                            },
                            {
                                name: '院领导'
                            }
                        ]
                    },
                    {
                        name: '院务公开'
                    },
                    {
                        name: '党建之窗'
                    },
                    {
                        name: '就医指南'
                    },
                    {
                        name: '专家推荐',
                        children:[
                            {
                                name: '医院简介'
                            },
                            {
                                name: '机构证件'
                            },
                            {
                                name: '医院文化'
                            },
                            {
                                name: '医院分布图'
                            },
                            {
                                name: '交通指南'
                            },
                            {
                                name: '院领导'
                            }
                        ]
                    },
                    {
                        name: '科研教学'
                    },
                    {
                        name: '护理园地'
                    },
                    {
                        name: '医务专栏'
                    },
                    {
                        name: '健康科普'
                    },
                    {
                        name: '科室介绍'
                    }
                ],
                isFixed: false,
                noticeTab:[
                    '通知公告',
                    '医务专栏',
                    '党建之窗',
                    '科教信息',
                    '护理信息',
                    '人力招聘'
                ],
                noticeIdx:0,
                deptTabs:[
                    '内科',
                    '外科',
                    '医技科室',
                    '骨科',
                    '五官科',
                    '妇儿科',
                    '其它'
                ],
                deptIdx: 0,
                lines:[],
                departments: [
                    {ms:channel type='son' typeid='1400724656644583425' flag='c'}
                    {
                        typetitle: "${field.typetitle}",
                        children: [
                            {ms:channel size=25  orderby='sort'}
                            {
                                typetitle: "${field.typetitle}",
                                typelink: "{ms:global.url/}${field.typelink}",
                                base: "{ms:global.host/}",
                                typeimg: ${field.typelitpic},
                                {ms:arclist flag='c' size=1}
                                descrip: "${field.descrip}",
                                image: "{ms:global.host/}/{@ms:file field.litpic/}"
                                {/ms:arclist}
                            },
                            {/ms:channel}
                        ]
                    },
                    {/ms:channel}
                ],
            }
        },
        created:function() {
            this.departments.forEach(function(item){
                if(item.children){
                    item.children.forEach(function(row){
                        row.path = row.base + JSON.parse(JSON.stringify(row.typeimg))[0].path.url;
                        console.log(row.path)
                    })
                }
            })
            this.expertList();
        },
        mounted:function() {
            window.addEventListener('scroll',this.handleSroll)
            
        },
        methods: {
            handleMore:function(){
                switch(this.noticeIdx){
                    case 0:
                        {ms:channel typeid='1468759722604027905' type='self'}
                            this.goto('{ms:global.url/}${field.typeurl}')
                        {/ms:channel}
                        break;
                    case 1:
                        {ms:channel typeid='1468768992112312322' type='self'}
                            this.goto('{ms:global.url/}${field.typelink}')
                        {/ms:channel}
                        break;
                    case 2:
                        {ms:channel typeid='1468760796815613954' type='self'}
                            this.goto('<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>')
                        {/ms:channel}
                        break;
                    case 3:
                        {ms:channel typeid='1468768639958548481' type='self'}
                            this.goto('{ms:global.url/}${field.typeurl}')
                        {/ms:channel}
                        break;
                    case 4:
                        {ms:channel typeid='1468768786826297346' type='self'}
                        this.goto('<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>')
                        {/ms:channel}
                        break;
                    case 5:
                        {ms:channel typeid='1468759722536919042' type='self'}
                            this.goto('{ms:global.url/}${field.typeurl}')
                        {/ms:channel}
                        break;
                }
            },
            handleSroll:function(e){
                let top = document.documentElement.scrollTop || document.body.scrollTop;
                if(top>=140){
                    this.isFixed = true;
                }else {
                    this.isFixed = false;
                }
                
            },
            get:function(){
                // setTimeout(()=>{
                //     console.log(1)
                // },1000)
                // setTimeout(function(){
                //     console.log(1)
                // },1000)
            },
            handleMouseOver:function(e,index){
                $('.wrapper .header .header_nav .nav .column').find('.content').removeClass('active');
                $('.wrapper .header .header_nav .nav .column').eq(index).find('.content').addClass('active');
            },
            handleMouseLeave:function(e){
                $('.wrapper .header .header_nav .nav .column').find('.content').removeClass('active');
            },
            noticeMouseover:function(item,index){
                this.noticeIdx = index;
            },
            noticeMouseLeave:function(item,index){
            },
            handleDeptMouseOver:function(e,index){
                this.deptIdx = index;
            },
            expertList: function() {
                var that = this
                var page = {pageNo: 1,pageSize:100}
                ms.http.post("/cms/expert/list.do", Object.assign({}, {
                    contentType: 'c'
                }, page)).then(function(res) {
                    //that.page.contentCount = res.data.total
                    var list = res.data.rows.map(function(row) {
                        let name = row.name.split('_');
                        if(name.length>1){
                            row.name = name[0];
                            row.sortIdx = name[1];
                        }
                        if (row.portrait) {
                            var img = JSON.parse(row.portrait)
                            if (img.length > 0) {
                                row.portraitUrl = '{ms:global.host/}' + img[0].url
                            }
                        }
                        return row
                    })
                    that.lines = list.sort(that.compare('sortIdx'))
                    console.log('lines:', that.lines)
                }).catch(function(err) {
                    console.error('error:', err)
                })
            },
            compare:function(property){
                return function(a,b){
                    var val1 = a[property];
                    var val2 = b[property];
                    return val1 - val2;
                }
            },
            handleRouter:function(item){
                window.open("{ms:global.url/}${'/page/expert/detail.html'}?id="+ item.id )
            },
        },
    })
</script>
<script>
    var swiper1 = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
    var swiper2 = new Swiper('.swiper-container_news', {
        pagination: '.swiper-pagination-news',
        paginationClickable: true
    });
    setTimeout(function(){
        var swiper3 = new Swiper('.swiper-container-expert', {
            nextButton: '.swiper-next',
            prevButton: '.swiper-prev',
            slidesPerView: 6,
            paginationClickable: true,
            spaceBetween: 30,
            onSlideChangeEnd:function(swiper){
                console.log(swiper)
                if(swiper.isEnd){
                    $('.wrapper .center .expert_wrap .expert_content .swiper-next').addClass('active');
                    $('.wrapper .center .expert_wrap .expert_content .swiper-prev').addClass('active');
                }else{
                    $('.wrapper .center .expert_wrap .expert_content .swiper-next').removeClass('active');
                    $('.wrapper .center .expert_wrap .expert_content .swiper-prev').removeClass('active');
                }
            }
        });
    },300)
    var swiperFour = new Swiper('.swiper-container-specail', {
        pagination: '.swiper-pagination-special',
        paginationClickable:true,
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 15,
        onSlideChangeEnd:function(swiper){
            console.log(swiper)
            if(swiper.isEnd){
                $('.wrapper .center .expert_wrap .expert_content .swiper-next').addClass('active');
                $('.wrapper .center .expert_wrap .expert_content .swiper-prev').addClass('active');
            }else{
                $('.wrapper .center .expert_wrap .expert_content .swiper-next').removeClass('active');
                $('.wrapper .center .expert_wrap .expert_content .swiper-prev').removeClass('active');
            }
        }
    });
    $('.dept_tabs .dept_tab').hover(function(){
        $('.dept_tabs .dept_tab').removeClass('active');
        $('.dept_bd').removeClass('active');
        let idx = $(this).index();
        $(this).addClass('active');
        $('.dept_bd').eq(idx).addClass('active');
    })
</script>
</html>