<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=1300px"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{ms:global.name/}</title>
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/public.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/index.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/fontIcon/iconfont.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/head.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/footer.css">
    <link rel="shortcut icon" href="{ms:global.host/}/{ms:global.style/}/images/favicon.ico" type="image/x-icon" />
</head>
<body>
     <div class="wrapper" id="app" v-cloak>
        <#include "head.html" />
         <div class="center" :class="{'active':isFixed}">
             <div class="banner">
                {ms:channel type='self' typeid='1468769596486352898' }
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {ms:arclist orderby='sort'}
                        <#if field.descrip!=''>
                        <div class="swiper-slide" @click="goto('${field.descrip}')">
                            <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">
                        </div>
                        <#else>
                        <div class="swiper-slide">
                            <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">
                        </div>
                        </#if>
                        {/ms:arclist}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                </div>
                {/ms:channel}
             </div>
             <div class="bulletinBoard">
                 <ul class="bulletinBoard_wrap fixedWidth clearfix">
                     <!-- <li class="itemBox fl">
                         <div class="icon">
                             <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-1-a.png" alt="">
                             <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-1-b.png" alt="">
                         </div>
                         <p class="name">预约挂号</p>
                     </li> -->
                     {ms:channel type='self' size=1 typeid='1468766365345546244'}
                     <li class="itemBox fl" @click="goto('{ms:global.url/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-2-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-2-b.png" alt="">
                        </div>
                        <p class="name">专家门诊</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468771868154953730'}
                    <li class="itemBox" @click="goto('{ms:global.url/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-3-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-3-b.png" alt="">
                        </div>
                        <p class="name">就诊须知</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468759275814182916'}
                    <li class="itemBox" @click="goto('{ms:global.url/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-4-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-4-b.png" alt="">
                        </div>
                        <p class="name">交通指南</p>
                    </li>
                    {/ms:channel}
                    {ms:channel type='self' size=1 typeid='1468772052414922754'}
                    <li class="itemBox" @click="goto('{ms:global.url/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-8-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-8-b.png" alt="">
                        </div>
                        <p class="name">科室分布</p>
                    </li>
                    {/ms:channel}
                    <!-- {ms:channel type='self' size=1 typeid='1400724656644583425'}
                    <li class="itemBox" @click="goto('{ms:global.url/}/${field.typelink}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-5-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-5-b.png" alt="">
                        </div>
                        <p class="name">重点专科</p>
                    </li>
                    {/ms:channel} -->
                    <!-- {ms:channel type='self' size=1 typeid='1468772038850543618'}
                    <li class="itemBox" @click="goto('{ms:global.url/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-6-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-6-b.png" alt="">
                        </div>
                        <p class="name">就诊流程</p>
                    </li>
                    {/ms:channel} -->
                    {ms:channel type='self' size=1 typeid='1468772003291234306'}
                    <li class="itemBox" @click="goto('{ms:global.url/}/${field.typeurl}')">
                        <div class="icon">
                            <img class="imgs" src="{ms:global.host/}/{ms:global.style/}/images/pic-6-a.png" alt="">
                            <img class="imgs active" src="{ms:global.host/}/{ms:global.style/}/images/pic-6-b.png" alt="">
                        </div>
                        <p class="name">就诊流程</p>
                    </li>
                    {/ms:channel}
                 </ul>
             </div>
             <div class="news_wrap">
                <div class="news fixedWidth clearfix">
                    <div class="left_box fl">
                        <div class="banner_news">
                            <div class="swiper-container_news">
                                {ms:channel type='self'  typeid='1468759502730223618'}
                                <div class="swiper-wrapper">
                                    {ms:arclist size=7 flag='c' orderby='sort'}
                                    <#if field.flag?contains('tv')>
                                    <div class="swiper-slide" flag="${field.flag}">
                                        <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                        <div class="cover_img">
                                            <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">
                                        </div>
                                        <div class="panel_box clearfix">
                                            <div class="timeBox">
                                                <h1 class="num">${field.date?string("dd")}</h1>
                                                <p class="text">${field.date?string("yyyy-MM")}</p>
                                            </div>
                                            <div class="news_info fr">
                                                <h3 class="title">${field.title}</h3>
                                                <div class="news_desc">
                                                    ${field.descrip}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <#else>
                                    <div class="swiper-slide" flag="${field.flag}" @click="goto('{ms:global.url/}${field.typepath}/${field.id}.html')">
                                        <div class="cover_img">
                                            <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">
                                        </div>
                                        <div class="panel_box clearfix">
                                            <div class="timeBox">
                                                <h1 class="num">${field.date?string("dd")}</h1>
                                                <p class="text">${field.date?string("yyyy-MM")}</p>
                                            </div>
                                            <div class="news_info fr">
                                                <h3 class="title">${field.title}</h3>
                                                <div class="news_desc">
                                                    ${field.descrip}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </#if>
                                    {/ms:arclist}
                                </div>
                                {/ms:channel}
                                <!-- Add Pagination -->
                                <div class="swiper-pagination-news"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="right_box fl">
                        {ms:channel type='self'  typeid='1468759502730223618'}
                        <div class="newsList">
                            {ms:arclist size=7 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                            <div class="row clearfix" flag="${field.flag}">
                                <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                <div class="timeBox fl">
                                    <p class="num">${field.date?string("dd")}</p>
                                    <p class="time">${field.date?string("yyyy-MM")}</p>
                                </div>
                                <div class="desc fl">
                                    ${field.title}
                                </div>
                            </div>
                            <#else>
                            <div class="row clearfix" flag="${field.flag}" @click="goto('{ms:global.url/}${field.typepath}/${field.id}.html')">
                                <div class="timeBox fl">
                                    <p class="num">${field.date?string("dd")}</p>
                                    <p class="time">${field.date?string("yyyy-MM")}</p>
                                </div>
                                <div class="desc fl">
                                    ${field.title}
                                </div>
                            </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                    </div>
                </div>
                {ms:channel type='self'  typeid='1468759502730223618'}
                <div class="news_more" @click="goto('{ms:global.url/}${field.typelink}')">
                    查看全部
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                {/ms:channel}
             </div>
             <div class="notice_wrap">
                 <div class="notice fixedWidth">
                    <div class="tabbar clearfix">
                        <div class="tabs fl">
                            <p class="tab" :class="{'active':noticeIdx==index}"
                                @mouseover="noticeMouseover(item,index)"
                                @mouseLeave="noticeMouseLeave(item,index)"
                             v-for="(item,index) in noticeTab"
                              :key="index">{{item}}</p>
                        </div>
                        <div class="more fr" @click="handleMore">
                            查看全部
                            <i class="iconfont icon-youjiantou"></i>
                        </div>
                    </div>
                    <div class="notice_content">
                        {ms:channel typeid='1468759722604027905' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==0}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                            <div class="box clearfix fl" flag="${field.flag}">
                                <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                <div class="icon fl">
                                    <img src="{ms:global.host/}/{ms:global.style/}/images/item_1.png" alt="">
                                </div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                        ${field.date?string("MM/dd")}
                                    </p>
                                    <p class="time" v-else>
                                        ${field.date?string("yyyy/MM/dd")}
                                    </p>
                                </div>
                            </div>
                            <#else>
                            <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                <div class="icon fl">
                                    <img src="{ms:global.host/}/{ms:global.style/}/images/item_1.png" alt="">
                                </div>
                                <div class="r_info fl">
                                    <p class="text">
                                        ${field.title}
                                    </p>
                                    <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                        ${field.date?string("MM/dd")}
                                    </p>
                                    <p class="time" v-else>
                                        ${field.date?string("yyyy/MM/dd")}
                                    </p>
                                </div>
                            </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468768992112312322' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==1}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                                <div class="box clearfix fl" flag="${field.flag}">
                                    <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_2.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                                <#else>
                                    <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                        <div class="icon fl">
                                            <img src="{ms:global.host/}/{ms:global.style/}/images/item_2.png" alt="">
                                        </div>
                                        <div class="r_info fl">
                                            <p class="text">
                                                ${field.title}
                                            </p>
                                            <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                                ${field.date?string("MM/dd")}
                                            </p>
                                            <p class="time" v-else>
                                                ${field.date?string("yyyy/MM/dd")}
                                            </p>
                                        </div>
                                    </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        {ms:channel typeid='1468760796815613954' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==2}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                                <div class="box clearfix fl" flag="${field.flag}">
                                    <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_3.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                                <#else>
                                    <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                        <div class="icon fl">
                                            <img src="{ms:global.host/}/{ms:global.style/}/images/item_3.png" alt="">
                                        </div>
                                        <div class="r_info fl">
                                            <p class="text">
                                                ${field.title}
                                            </p>
                                            <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                                ${field.date?string("MM/dd")}
                                            </p>
                                            <p class="time" v-else>
                                                ${field.date?string("yyyy/MM/dd")}
                                            </p>
                                        </div>
                                    </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                        <!-- {ms:channel typeid='1471722018951385089' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==3}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                                <div class="box clearfix fl" flag="${field.flag}">
                                    <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_4.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                                <#else>
                                <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_4.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel} -->
                        <!-- {ms:channel typeid='1468768786826297346' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==4}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                                <div class="box clearfix fl" flag="${field.flag}">
                                    <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_5.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                                <#else>
                                    <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                        <div class="icon fl">
                                            <img src="{ms:global.host/}/{ms:global.style/}/images/item_5.png" alt="">
                                        </div>
                                        <div class="r_info fl">
                                            <p class="text">
                                                ${field.title}
                                            </p>
                                            <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                                ${field.date?string("MM/dd")}
                                            </p>
                                            <p class="time" v-else>
                                                ${field.date?string("yyyy/MM/dd")}
                                            </p>
                                        </div>
                                    </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel} -->
                        {ms:channel typeid='1468759722536919042' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==3}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                                <div class="box clearfix fl" flag="${field.flag}">
                                    <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_6.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                                <#else>
                                    <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                        <div class="icon fl">
                                            <img src="{ms:global.host/}/{ms:global.style/}/images/item_6.png" alt="">
                                        </div>
                                        <div class="r_info fl">
                                            <p class="text">
                                                ${field.title}
                                            </p>
                                            <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                                ${field.date?string("MM/dd")}
                                            </p>
                                            <p class="time" v-else>
                                                ${field.date?string("yyyy/MM/dd")}
                                            </p>
                                        </div>
                                    </div>
                            </#if>
                            {/ms:arclist}
                        </div>  
                        {/ms:channel}
                        {ms:channel typeid='1468759722536919041' type='self'}
                        <div class="block clearfix" :class="{'active':noticeIdx==4}">
                            {ms:arclist size=8 flag='c' orderby='sort'}
                            <#if field.flag?contains('tv')>
                                <div class="box clearfix fl" flag="${field.flag}">
                                    <div class="hidden" style="display:none;visibility: hidden;">${field.content}</div>
                                    <div class="icon fl">
                                        <img src="{ms:global.host/}/{ms:global.style/}/images/item_7.png" alt="">
                                    </div>
                                    <div class="r_info fl">
                                        <p class="text">
                                            ${field.title}
                                        </p>
                                        <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                            ${field.date?string("MM/dd")}
                                        </p>
                                        <p class="time" v-else>
                                            ${field.date?string("yyyy/MM/dd")}
                                        </p>
                                    </div>
                                </div>
                                <#else>
                                    <div class="box clearfix fl" flag="${field.flag}" @click="goto('{ms:global.url/}${field.link}')">
                                        <div class="icon fl">
                                            <img src="{ms:global.host/}/{ms:global.style/}/images/item_7.png" alt="">
                                        </div>
                                        <div class="r_info fl">
                                            <p class="text">
                                                ${field.title}
                                            </p>
                                            <p class="time" v-if="currenYear=='${field.date?string('yyyy')}'">
                                                ${field.date?string("MM/dd")}
                                            </p>
                                            <p class="time" v-else>
                                                ${field.date?string("yyyy/MM/dd")}
                                            </p>
                                        </div>
                                    </div>
                            </#if>
                            {/ms:arclist}
                        </div>
                        {/ms:channel}
                    </div>
                 </div>
                <div class="mobile_more" @click="handleMore">
                    查看全部
                    <i class="iconfont icon-youjiantou"></i>
                </div>
             </div>
             <!--  -->
             <div class="expert_wrap">
                 <div class="expert fixedWidth">
                     <div class="title">
                        专家介绍
                     </div>
                     <div class="expert_content clearfix">
                        <div class="swiper-btn swiper-prev fl"></div>
                        <div class="swiper-container-expert swiper-container-horizontal fl">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="item in lines" @click="handleRouter(item)">
                                    <img :src="item.portraitUrl" alt="">
                                    <div class="info_fixed">
                                        <p class="name">{{item.name}}</p>
                                        <div class="dept clearfix">
                                            <span class="fl">{{item.departmentName}}</span>
                                            <span class="fl">{{item.technicalTitle}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div> -->
                        </div>
                        <div class="swiper-btn swiper-next fl"></div>
                     </div>
                     {ms:channel type='self' typeid='1468766839750688769'}
                     <div class="expert_more more" @click="goto('{ms:global.url/}/${field.typelink}')">
                         查看全部
                         <i class="iconfont icon-youjiantou"></i>
                     </div>
                     {/ms:channel}
                 </div>
             </div>
             <div class="department_wrap">
                 <div class="department fixedWidth">
                     <p class="title">科室导航</p>
                     <div class="depart_content">
                         <ul class="dept_tabs clearfix">
                            <li class="dept_tab fl"  :class="{active: idx==0}"
                             v-for="(depart, idx) in departments"
                            @mouseover="function(e){handleDeptMouseOver(e,idx)}"
                             >
                                <span>
                                    {{depart.typetitle}}
                                </span>
                            </li>
                         </ul>
                         <div class="dept_bd clearfix" :class="{active: idx==0}" v-for="(depart, idx) in departments">
                             <div class="item" :class="{active: idx2==deptIdx}" @click="goto(dep.typelink)" v-for="(dep, idx2) in depart.children">
                                 <div class="icon">
                                    <img :src="dep.path" alt="">
                                 </div>
                                 <p class="name">{{dep.typetitle}}</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- <div class="specialColumn">
                 <div class="special fixedWidth">
                    <div class="swiper-container-specail">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/cover.png" alt="">
                                <div class="columnName">抗疫专栏 </div>
                            </div>
                        </div>
                        <div class="swiper-pagination-special"></div>
                    </div>
                    <div class="special_more more">
                        查看全部
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                 </div>
             </div> -->
             <div class="hr"></div>
             <div class="home_footer">
                 <div class="box fixedWidth">
                    <ul>
                        <li>
                            <a href="http://www.moh.gov.cn/wsb/index_2013.shtml" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.fjphb.gov.cn/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.fjmia.org/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.xmu.edu.cn/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://ybj.fujian.gov.cn/" target="_blank">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/link-6.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                 </div>
             </div>
         </div>
         <#include "foot.html" />
         <#include "right.html" />
     </div>   
</body>
<script type="text/javascript" src="${base}/static/plugins/vue/2.6.9/vue.js"></script>
<script type="text/javascript" src="${base}/static/plugins/vue-router/3.5.1/vue-router.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/swiper-3.4.2.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/app.js"></script>
<script src="${base}/static/plugins/axios/0.18.0/axios.min.js"></script>
<script src="${base}/static/plugins/qs/6.6.0/qs.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/msHttps.js"></script>
<script type="text/javascript" src ="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>
<script>
    const year = new Date().getFullYear()
    var app = new Vue({
        el:'#app',
        mixins: [mixin],
        data:function(){
            return {
                typePath: '<#if field.typeid?has_content>${field.typeid}<#if field.parentids?has_content>,${field.parentids}</#if><#else>0</#if>',
                activeTab: 0,
                currenYear: year,
                tabs:[
                    {
                        name: '医院概况',
                        children:[
                            {
                                name: '医院简介'
                            },
                            {
                                name: '机构证件'
                            },
                            {
                                name: '医院文化'
                            },
                            {
                                name: '医院分布图'
                            },
                            {
                                name: '交通指南'
                            },
                            {
                                name: '院领导'
                            }
                        ]
                    },
                    {
                        name: '医院新闻',
                        children:[
                            {
                                name: '医院简介'
                            },
                            {
                                name: '机构证件'
                            },
                            {
                                name: '医院文化'
                            },
                            {
                                name: '医院分布图'
                            },
                            {
                                name: '交通指南'
                            },
                            {
                                name: '院领导'
                            }
                        ]
                    },
                    {
                        name: '院务公开'
                    },
                    {
                        name: '党建之窗'
                    },
                    {
                        name: '就医指南'
                    },
                    {
                        name: '专家推荐',
                        children:[
                            {
                                name: '医院简介'
                            },
                            {
                                name: '机构证件'
                            },
                            {
                                name: '医院文化'
                            },
                            {
                                name: '医院分布图'
                            },
                            {
                                name: '交通指南'
                            },
                            {
                                name: '院领导'
                            }
                        ]
                    },
                    {
                        name: '科研教学'
                    },
                    {
                        name: '护理园地'
                    },
                    {
                        name: '医务专栏'
                    },
                    {
                        name: '健康科普'
                    },
                    {
                        name: '科室介绍'
                    }
                ],
                isFixed: false,
                noticeTab:[
                    '通知公告',
                    '医务专栏',
                    '党建之窗',
                    // '科教信息',
                    // '护理信息',
                    '人才招聘',
                    '招标公告'
                ],
                noticeIdx:0,
                deptTabs:[
                    '内科',
                    '外科',
                    '医技科室',
                    '骨科',
                    '五官科',
                    '妇儿科',
                    '其它'
                ],
                deptIdx: 0,
                lines:[],
                departments: [
                    {ms:channel type='son' typeid='1400724656644583425' flag='c' orderby='sort'}
                    {
                        typetitle: "${field.typetitle}",
                        children: [
                            {ms:channel size=25}
                            {
                                typetitle: "${field.typetitle}",
                                typelink: "{ms:global.url/}${field.typelink}",
                                base: "{ms:global.host/}",
                                typeimg: ${field.typelitpic},
                                {ms:arclist flag='c' size=1}
                                descrip: "${field.descrip}",
                                image: "{ms:global.host/}/{@ms:file field.litpic/}"
                                {/ms:arclist}
                            },
                            {/ms:channel}
                        ]
                    },
                    {/ms:channel}
                ],
            }
        },
        created:function() {
            this.departments.forEach(function(item){
                if(item.children){
                    item.children.forEach(function(row){
                        row.path = row.base + JSON.parse(JSON.stringify(row.typeimg))[0].path.url;
                        console.log(row.path)
                    })
                }
            })
            this.expertList();
        },
        mounted:function() {
            window.addEventListener('scroll',this.handleSroll)
            
        },
        methods: {
            handleMore:function(){
                switch(this.noticeIdx){
                    case 0:
                        {ms:channel typeid='1468759722604027905' type='self'}
                            this.goto('{ms:global.url/}/${field.typeurl}')
                        {/ms:channel}
                        break;
                    case 1:
                        {ms:channel typeid='1468768992112312322' type='self'}
                            this.goto('{ms:global.url/}/${field.typelink}')
                        {/ms:channel}
                        break;
                    case 2:
                        {ms:channel typeid='1468760796815613954' type='self'}
                            this.goto('<#if field.type==3>{ms:global.url/}/${field.typeurl}<#else>{ms:global.url/}/${field.typelink}</#if>')
                        {/ms:channel}
                        break;
                    // case 3:
                    //     {ms:channel typeid='1471722018951385089' type='self'}
                    //         this.goto('{ms:global.url/}/${field.typeurl}')
                    //     {/ms:channel}
                    //     break;
                    // case 4:
                    //     {ms:channel typeid='1468768786826297346' type='self'}
                    //     this.goto('<#if field.type==3>{ms:global.url/}/${field.typeurl}<#else>{ms:global.url/}/${field.typelink}</#if>')
                    //     {/ms:channel}
                    //     break;
                    case 3:
                        {ms:channel typeid='1468759722536919042' type='self'}
                            this.goto('{ms:global.url/}/${field.typeurl}')
                        {/ms:channel}
                        break;
                    case 4:
                        {ms:channel typeid='1468759722536919041' type='self' }
                        this.goto('{ms:global.url/}/${field.typeurl}')
                        {/ms:channel}
                        break;
                }
            },
            handleSroll:function(e){
                let top = document.documentElement.scrollTop || document.body.scrollTop;
                if(top>=140){
                    this.isFixed = true;
                }else {
                    this.isFixed = false;
                }
                
            },
            get:function(){
                // setTimeout(()=>{
                //     console.log(1)
                // },1000)
                // setTimeout(function(){
                //     console.log(1)
                // },1000)
            },
            handleMouseOver:function(e,index){
                $('.wrapper .header .header_nav .nav .column').find('.content').removeClass('active');
                $('.wrapper .header .header_nav .nav .column').eq(index).find('.content').addClass('active');
            },
            handleMouseLeave:function(e){
                $('.wrapper .header .header_nav .nav .column').find('.content').removeClass('active');
            },
            noticeMouseover:function(item,index){
                this.noticeIdx = index;
            },
            noticeMouseLeave:function(item,index){
            },
            handleDeptMouseOver:function(e,index){
                this.deptIdx = index;
            },
            expertList: function() {
                var that = this
                var page = {pageNo: 1,pageSize:100}
                ms.http.post("/cms/expert/list.do", Object.assign({}, {
                    contentType: 'c'
                }, page)).then(function(res) {
                    //that.page.contentCount = res.data.total
                    let contSort = []
                    let temp = []
                    var list = res.data.rows.map(function(row) {
                        let jobNumber = row.jobNumber.split('_');
                        if(jobNumber.length>1){
                            row.jobNumber = jobNumber[0];
                            row.sortIdx = jobNumber[1];
                        }else {
                            row.sortIdx = '无';
                        }
                        if (row.portrait) {
                            var img = JSON.parse(row.portrait)
                            if (img.length > 0) {
                                row.portraitUrl = '{ms:global.host/}' + img[0].url
                            }
                        }
                        return row
                    })
                    console.log(list,'list')
                    that.lines = list.sort(that.compare('sortIdx'))
                    // that.lines = that.bubbleSorting(list);
                    console.log('lines:', that.lines)
                }).catch(function(err) {
                    console.error('error:', err)
                })
            },
            compare:function(property){
                return function(a,b){
                    var val1 = a[property];
                    var val2 = b[property];
                    return val1 - val2;
                }
            },
            bubbleSorting(arr){
                for (let i = 0; i < arr.length - 1; i++) {
                    for (let j = i; j < arr.length; j++) {
                        if (arr[i].sortIdx > arr[j].sortIdx) {
                            let changeData = arr[i]
                            arr[i] = arr[j]
                            arr[j] = changeData
                        }
                    }
                }
                return arr
            },
            handleRouter:function(item){
                window.open("{ms:global.url/}${'/page/expert/detail.html'}?id="+ item.id )
            },
        },
    })
</script>
<script>
    var swiper1 = new Swiper('.swiper-container', {
        loop: true,
        speed: 1000,
        autoplay: 3000,
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
    swiper1.container[0].onmouseover = function () {
        swiper1.stopAutoplay();
    }
    // 鼠标移出开始自动滚动
    swiper1.container[0].onmouseout = function () {
        swiper1.startAutoplay();
    }
    var swiper2 = new Swiper('.swiper-container_news', {
        loop: true,
        speed: 1000,
        autoplay: 3000,
        pagination: '.swiper-pagination-news',
        paginationClickable: true
    });
    swiper2.container[0].onmouseover = function () {
        swiper2.stopAutoplay();
    }
    // 鼠标移出开始自动滚动
    swiper2.container[0].onmouseout = function () {
        swiper2.startAutoplay();
    }
    let documentWidth = document.body.clientWidth || document.documentElement.clientWidth
    let slidesPerView = 6
    if(documentWidth<=750){
        slidesPerView = 1
    }
    setTimeout(function(){
        var swiper3 = new Swiper('.swiper-container-expert', {
            nextButton: '.swiper-next',
            prevButton: '.swiper-prev',
            slidesPerView: slidesPerView,
            paginationClickable: true,
            spaceBetween: 30,
            loop: true,
            speed: 500,
            autoplay: 1000,
            onSlideChangeEnd:function(swiper){
                // console.log(swiper)
                if(swiper.isEnd){
                    $('.wrapper .center .expert_wrap .expert_content .swiper-next').addClass('active');
                    $('.wrapper .center .expert_wrap .expert_content .swiper-prev').addClass('active');
                }else{
                    $('.wrapper .center .expert_wrap .expert_content .swiper-next').removeClass('active');
                    $('.wrapper .center .expert_wrap .expert_content .swiper-prev').removeClass('active');
                }
            }
        });
        swiper3.container[0].onmouseover = function () {
            swiper3.stopAutoplay();
        }
        // 鼠标移出开始自动滚动
        swiper3.container[0].onmouseout = function () {
            swiper3.startAutoplay();
        }
    },300)
    let slideNum = 4
    let spaceBetween = 15
    if(width<=750){
        slideNum = 1
        spaceBetween = 0
    }
    var swiperFour = new Swiper('.swiper-container-specail', {
        pagination: '.swiper-pagination-special',
        paginationClickable:true,
        slidesPerView: slideNum,
        paginationClickable: true,
        spaceBetween: spaceBetween,
        observer: true,
        observeParents: true,
        onSlideChangeEnd:function(swiper){
            // console.log(swiper)
            if(swiper.isEnd){
                $('.wrapper .center .expert_wrap .expert_content .swiper-next').addClass('active');
                $('.wrapper .center .expert_wrap .expert_content .swiper-prev').addClass('active');
            }else{
                $('.wrapper .center .expert_wrap .expert_content .swiper-next').removeClass('active');
                $('.wrapper .center .expert_wrap .expert_content .swiper-prev').removeClass('active');
            }
        }
    });
    $('.dept_tabs .dept_tab').hover(function(){
        $('.dept_tabs .dept_tab').removeClass('active');
        $('.dept_bd').removeClass('active');
        let idx = $(this).index();
        $(this).addClass('active');
        $('.dept_bd').eq(idx).addClass('active');
    })
    window.onload = function(){
        for(var i = 0; i < $('.swiper-container_news .swiper-slide').length; i++){
            var flag = $('.swiper-container_news .swiper-slide').eq(i).attr('flag') || '';
            if (flag != "" && flag.indexOf('tv') != -1) {
                var dom = $('.swiper-container_news .swiper-slide').eq(i).find('.hidden')
                var link = dom.find('a').html();
                $('.swiper-container_news .swiper-slide').eq(i).bind('click',{link:link}, clickHandler)
            }
        }
        for (var k = 0; k < $('.news_wrap .right_box .newsList .row').length; k++) {
            var flag2 = $('.news_wrap .right_box .newsList .row').eq(k).attr('flag') || '';
            if (flag2 != "" && flag2.indexOf('tv') != -1) {
                var dom2 = $('.news_wrap .right_box .newsList .row').eq(k).find('.hidden');
                var link2 = dom2.find('a').html();
                $('.news_wrap .right_box .newsList .row').eq(k).bind('click',{link:link2}, clickHandler)
            }
        }
        for(var i = 0;i < $('.notice_content .block').length; i++){
            for(var j = 0; j <  $('.notice_content .block').eq(i).find('.box').length; j++){
                var flag =  $('.notice_content .block').eq(i).find('.box').eq(j).attr('flag') || '';
                if (flag != "" && flag.indexOf('tv') != -1) {
                    var dom = $('.notice_content .block').eq(i).find('.box').eq(j).find('.hidden');
                    var link = dom.find('a').html();
                    $('.notice_content .block').eq(i).find('.box').eq(j).bind('click', {link:link}, clickHandler)
                }
            }
        }
        function clickHandler(event) {
            var href = event.data.link;
            window.open(href)
        }
    }
</script>
</html>