<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>医院概况</title>
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/public.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/fontIcon/iconfont.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/head.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/footer.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/common.css">
    <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/hospitalSurvey.css">
    <link rel="stylesheet" href="${base}/static/plugins/element-ui/2.15.1/theme-chalk/index.min.css">
    <link rel="stylesheet" href="//api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <link rel="shortcut icon" href="{ms:global.host/}/{ms:global.style/}/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="wrapper" id="app" v-cloak>
        <#include "head.html" />
        <#include "right.html" />
        <div class="center">
            <div class="banner">
                <img src="{ms:global.host/}/{ms:global.style/}/images/yygk_banner.jpg" alt="">
            </div>
            <div class="container">
                <div class="common_nav">
                    <div class="scroll_wrap">
                        <ul class="common_tabs fixedWidth">
                            {ms:channel type='son'}
                            <li class="common_tab" :class="{active : $route.path == '${field.typepath}'}" @click="push('${field.typepath}')">${field.typetitle}</li>
                            {/ms:channel}
                        </ul>
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="content fixedWidth">
                    <!-- {ms:arclist size=1 artid='1405068714693468161'}
                    <div class="common_content" style="display: block;">
                        <div class="richText_wrap">
                            <div class="title">
                                ${field.title}
                            </div>
                            <div class="rich">
                                ${field.content}
                            </div>
                            <div class="shareView">
                                分享到：
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_01.png" alt="">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_02.png" alt="">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_03.png" alt="">
                            </div>
                        </div>
                    </div>
                    {/ms:arclist} -->
                    <!-- <div class="common_content">
                        <ul class="column_list">
                            <li class="column_item">
                                <a href="#" class="clearfix">
                                    <p class="name fl">
                                        医疗机构执业许可证
                                    </p>
                                    <p class="time fr">
                                        2019-06-26
                                    </p>
                                </a>
                            </li>
                            <li class="column_item">
                                <a href="#" class="clearfix">
                                    <p class="name fl">
                                        医疗机构执业许可证
                                    </p>
                                    <p class="time fr">
                                        2019-06-26
                                    </p>
                                </a>
                            </li>
                            <li class="column_item">
                                <a href="#" class="clearfix">
                                    <p class="name fl">
                                        医疗机构执业许可证
                                    </p>
                                    <p class="time fr">
                                        2019-06-26
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <div class="pagePC">
                            <el-pagination
                                background
                                @current-change="changePage"
                                :page-size="page.pageSize"
                                prev-text="上一页"
                                next-text="下一页"
                                :current-page.sync="page.pageNo"
                                layout="prev, pager, next, jumper"
                                :total="page.contentCount">
                            </el-pagination>
                        </div>
                    </div>
                    <div class="common_content">
                        <ul class="column_list">
                            <li class="column_item">
                                <a href="#" class="clearfix">
                                    <p class="name fl">
                                        医疗机构执业许可证
                                    </p>
                                    <p class="time fr">
                                        2019-06-26
                                    </p>
                                </a>
                            </li>
                            <li class="column_item">
                                <a href="#" class="clearfix">
                                    <p class="name fl">
                                        医疗机构执业许可证
                                    </p>
                                    <p class="time fr">
                                        2019-06-26
                                    </p>
                                </a>
                            </li>
                            <li class="column_item">
                                <a href="#" class="clearfix">
                                    <p class="name fl">
                                        医疗机构执业许可证
                                    </p>
                                    <p class="time fr">
                                        2019-06-26
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <div class="pagePC">
                            <el-pagination
                                background
                                @current-change="changePage"
                                :page-size="page.pageSize"
                                prev-text="上一页"
                                next-text="下一页"
                                :current-page.sync="page.pageNo"
                                layout="prev, pager, next, jumper"
                                :total="page.contentCount">
                            </el-pagination>
                        </div>
                    </div>
                    <div class="common_content">
                        <div class="richText_wrap">
                            <div class="title">
                                医院整体布局图
                            </div>
                            <div class="rich">
                                福州市第二医院始建于1866年，是福州市属
                                医疗机构中历史最为悠久的百年老院，前身为英
                                国皇家海军、英国领事馆合办的“海港医馆”，1887年易名为
                                “塔亭医院”，1956年3月定名为“福州市第二医院”，1984年
                                经福建省人民政府批准，增挂“福建省福州中西医结合医院”，
                                为全国第一批中西医结合三级甲等医院，2012年4月正式成为厦门大学附属医院。
                                2016年、2017年连续进入“中国省会市属医院•竞争力
                                排行榜100强医院”“中国中医医院•竞争力排行榜100强医院”。骨伤科、
                                康复科、急诊科(含重症医学科)获评“2018中国中医医院.最佳临床型专科”。
                            </div>
                            <div class="shareView">
                                分享到：
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_01.png" alt="">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_02.png" alt="">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_03.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="common_content">
                        <div class="richText_wrap">
                            <div class="title">
                                医院整体布局图
                            </div>
                            <div class="map_view">
                                <div id="localcontainer"></div>
                            </div>
                            <div class="rich">
                                福州市第二医院始建于1866年，是福州市属
                                医疗机构中历史最为悠久的百年老院，前身为英
                                国皇家海军、英国领事馆合办的“海港医馆”，1887年易名为
                                “塔亭医院”，1956年3月定名为“福州市第二医院”，1984年
                                经福建省人民政府批准，增挂“福建省福州中西医结合医院”，
                                为全国第一批中西医结合三级甲等医院，2012年4月正式成为厦门大学附属医院。
                                2016年、2017年连续进入“中国省会市属医院•竞争力
                                排行榜100强医院”“中国中医医院•竞争力排行榜100强医院”。骨伤科、
                                康复科、急诊科(含重症医学科)获评“2018中国中医医院.最佳临床型专科”。
                            </div>
                            <div class="shareView">
                                分享到：
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_01.png" alt="">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_02.png" alt="">
                                <img src="{ms:global.host/}/{ms:global.style/}/images/share_03.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="common_content">
                        <div class="expert_wrap">

                        </div>
                    </div> -->
                    <router-view></router-view>
                </div>
            </div>
        </div>
        <#include "foot.html" />
    </div>
</body>
<script type="text/javascript" src="${base}/static/plugins/vue/2.6.9/vue.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/app.js"></script>
<script type="text/javascript" src="${base}/static/plugins/vue-router/3.5.1/vue-router.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/swiper-3.4.2.min.js"></script>
<script src="${base}/static/plugins/element-ui/2.15.1/index.min.js"></script>
<script src="${base}/static/plugins/axios/0.18.0/axios.min.js"></script>
<script src="${base}/static/plugins/qs/6.6.0/qs.min.js"></script>
<script type="text/javascript" src="${base}/static/plugins/moment/2.29.1/moment.js"></script>
<!-- <script type="text/javascript" src="${base}/static/plugins/ms/1.0.0/ms.http.js"></script> -->
<script src="{ms:global.host/}/{ms:global.style/}/js/msHttps.js"></script>
<script type="text/javascript" src ="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=dpYUGNcGjk0Kx0p3o8zR7z3QI53HuGEc&s=1"></script>
<script type="text/javascript" src="//api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script>
    // var Foo = { template: '<div class="fixedWidth">foo</div>' }
    // var Bar = { template: '<div class="fixedWidth">bar</div>' }
    // var routes = [
    //     { path: '/yyjj', component: Foo },
    //     { path: '/jgzj', component: Bar }
    // ]
    var router = new VueRouter({
        routes:[
            {ms:channel type='son'}
            <#if field.typeid='1468759275679965186'>
                {
                    path: '${field.typepath}',
                    name: '${field.typetitle}',
                    component: {
                        template: '{ms:arclist size=1}'+
'                        <div class="common_content" style="display: block;" desc="${field.descrip}" title="${field.title}">'+
'                            <div class="richText_wrap">'+
'                                <div class="title">'+
'                                    ${field.title}'+
'                                </div>'+
'                                <div class="rich">'+
'                                    ${field.content}'+
'                                </div>'+
'                                <div class="shareView">'+
'                                    分享到：'+
'                                    <img class="bds_tsina" src="{ms:global.host/}/{ms:global.style/}/images/share_02.png" alt="">'+
'                                    <img class="bds_qzone" src="{ms:global.host/}/{ms:global.style/}/images/share_03.png" alt="">'+
'                                </div>'+
'                            </div>'+
'                        </div>'+
'                        {/ms:arclist}',
                        mounted:function() {
                            var share_config = {
                                'bdText': $('.common_content').attr('title'),
                                'bdUrl': location.href,
                                'bdDesc': $('.common_content').attr('desc')
                            };
                            $('.bds_tsina').click(function(){
                                window.open('http://service.weibo.com/share/share.php?title=' + share_config.bdText + '&url=' + share_config.bdUrl)
                            })
                            $('.bds_qzone').click(function(){
                                window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+share_config.bdUrl+'&title='+share_config.bdText+'&desc='+share_config.bdDesc)
                            })
                        },
                    }
                },
            <#elseif field.typeid='1468759275814182915'>
            {
                    path: '${field.typepath}',
                    name: '${field.typetitle}',
                    component: {
                        template: '{ms:arclist size=1}'+
'                        <div class="common_content" style="display: block;" desc="${field.descrip}" title="${field.title}">'+
'                            <div class="richText_wrap">'+
'                                <div class="title">'+
'                                    ${field.title}'+
'                                </div>'+
'                                <div class="rich">'+
'                                    ${field.content}'+
'                                </div>'+
'                                <div class="shareView">'+
'                                    分享到：'+
'                                    <img class="bds_tsina" src="{ms:global.host/}/{ms:global.style/}/images/share_02.png" alt="">'+
'                                    <img class="bds_qzone" src="{ms:global.host/}/{ms:global.style/}/images/share_03.png" alt="">'+
'                                </div>'+
'                            </div>'+
'                        </div>'+
'                        {/ms:arclist}',
                        mounted:function() {
                            var share_config = {
                                'bdText': $('.common_content').attr('title'),
                                'bdUrl': location.href,
                                'bdDesc': $('.common_content').attr('desc')
                            };
                            $('.bds_tsina').click(function(){
                                window.open('http://service.weibo.com/share/share.php?title=' + share_config.bdText + '&url=' + share_config.bdUrl)
                            })
                            $('.bds_qzone').click(function(){
                                window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+share_config.bdUrl+'&title='+share_config.bdText+'&desc='+share_config.bdDesc)
                            })
                        },
                    }
                },
            <#elseif field.typeid='1468759275747074050' ||  field.typeid='1468759275814182914'>
                {
                    path: '${field.typepath}',
                    name: '${field.typetitle}',
                    component: {
                        template: '<div class="common_content">'+
'                        <ul class="column_list">'+
'                            <li class="column_item" v-for="item in listData" @click="handleDetail(item)">'+
'                                <a href="#" class="clearfix">'+
'                                    <p class="name fl">'+
'                                        {{item.contentTitle}}'+
'                                    </p>'+
'                                    <p class="time fr">'+
'                                        {{dateFormat(item.yymm)}}'+
'                                    </p>'+
'                                </a>'+
'                            </li>'+
'                        </ul>'+
'                        <div class="pagePC" v-if="page.contentCount>20">'+
'                            <el-pagination'+
'                                background'+
'                                @current-change="getQueryList"'+
'                                :page-size="page.pageSize"'+
'                                :prev-text="prevText"'+
'                                :next-text="nextText"'+
'                                :current-page.sync="page.pageNo"'+
'                                :layout="layout"'+
'                                :total="page.contentCount">'+
'                            </el-pagination>'+
'                        </div>'+
'                    </div>',
                        mixins: [mixin],
                        data:function(){
                            return {
                                page:{
                                    //当前页数
                                    pageNo: 1,
                                    //每页文章条数
                                    pageSize: 20,
                                    //页数总数
                                    pageTotal: 0,
                                    //内容总数
                                    contentCount: 0
                                },
                                listData:[]
                            }
                        },
                        mounted:function() {
                            this.getQueryList();
                        },
                        methods:{
                            getQueryList: function(pageCur) {
                                var that = this
                                that.page.pageNo = pageCur
                                ms.http.post("/cms/content/list.do", Object.assign({}, {
                                    categoryId: '${field.typeid}'
                                }, that.page)).then(function(res) {
                                    that.page.contentCount = res.data.total
                                    that.listData = res.data.rows.map(function(row) {
                                        if (row.contentImg) {
                                            var img = JSON.parse(row.contentImg)
                                            if (img.length > 0) {
                                            row.imageUrl = '{ms:global.host/}' + img[0].path
                                            }
                                        }
                                        if(row.contentDatetime){
                                            var date = new Date(row.contentDatetime.replace(/-/g,'/'));
                                            var yy = date.getFullYear();
                                            var mm = date.getMonth() + 1;
                                            var day = date.getDate();
                                            var yymm = yy + '/' + mm + '/' + day
                                            row.day = day;
                                            row.yymm = yymm;
                                        }
                                        if (row.contentType.indexOf('tv') != -1) {
                                            row.link = that.getSimpleText(row.contentDetails);
                                            row.link = row.link.replace(/amp;/g, '')
                                        }
                                        return row
                                    })
                                    console.log('listData:', that.listData)
                                    if (pageCur) {
                                        $("html, body").scrollTop(0).animate({ scrollTop: $(".common_nav").offset().top - 30 });
                                    }
                                }).catch(function(err) {
                                    console.error('error:', err)
                                })
                            },
                            handleDetail:function(item){
                                if (item.contentType.indexOf('tv') != -1) {
                                    this.goto(item.link)
                                } else {
                                    {ms:channel type='self'}
                                        this.goto("{ms:global.url/}${field.typepath}/"+ item.id + ".html")
                                    {/ms:channel}
                                }
                            }
                        }
                    },
                },
                <#elseif field.typeid='1468759275814182916'>
                {
                    path: '${field.typepath}',
                    name: '${field.typetitle}',
                    component: {
                        template: '{ms:arclist size=1}'+
'                       <div class="common_content" desc="${field.descrip}" title="${field.title}">'+
'                        <div class="richText_wrap">'+
'                            <div class="title">'+
'                                ${field.title}'+
'                            </div>'+
'                            <div class="map_view">'+
'                                <div id="localcontainer"></div>'+
'                            </div>'+
'                            <div class="rich">'+
'                                ${field.content}'+
'                            </div>'+
'                            <div class="shareView">'+
'                                分享到：'+
'                                <img class="bds_tsina" src="{ms:global.host/}/{ms:global.style/}/images/share_02.png" alt="">'+
'                                <img class="bds_qzone" src="{ms:global.host/}/{ms:global.style/}/images/share_03.png" alt="">'+
'                            </div>'+
'                        </div>'+
'                    </div>'+
'                    {/ms:arclist}',
                        data:function(){
                            return {

                            }
                        },
                        mounted:function() {
                            var share_config = {
                                'bdText': $('.common_content').attr('title'),
                                'bdUrl': location.href,
                                'bdDesc': $('.common_content').attr('desc')
                            };
                            $('.bds_tsina').click(function(){
                                window.open('http://service.weibo.com/share/share.php?title=' + share_config.bdText + '&url=' + location.href)
                            })
                            $('.bds_qzone').click(function(){
                                window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+share_config.bdUrl+'&title='+share_config.bdText+'&desc='+share_config.bdDesc)
                            })
                        },
                        created:function() {
                            this.$nextTick(function(){
                                var pointer = new BMap.Point(119.326629,26.052131);
                                var hospitalName = "福州市第二医院";
                                var hospitalAddr = "福州市仓山区上藤路47号";
                                var map = new BMap.Map("localcontainer");
                                var hosName = ['福州市第二医院'], i=0;
                                var options = {
                                    title: hosName[i], //标题
                                    width: 300, //宽度
                                    height: 24, //高度
                                    panel: "panel", //检索结果面板
                                    enableAutoPan: true, //自动平移
                                    searchTypes: [
                                        BMAPLIB_TAB_TO_HERE, //到这里去
                                        BMAPLIB_TAB_FROM_HERE, //从这里出发
                                        BMAPLIB_TAB_SEARCH // 周边检索
                                    ]
                                };
                                var searchInfoWindow = new BMapLib.SearchInfoWindow(map, hospitalAddr, options);
                                var marker = new BMap.Marker(pointer);
                                // marker.setAnimation(BMAP_ANIMATION_BOUNCE); // 动画--弹跳
                                map.enableScrollWheelZoom();
                                map.addControl(new BMap.NavigationControl()); 
                                map.addControl(new BMap.MapTypeControl({
                                    mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]
                                }));
                                init(pointer);
                                marker.addEventListener('click', function () {
                                    searchInfoWindow.open(marker);
                                });
    
                                resetMap.prototype = new BMap.Control();
                                resetMap.prototype.initialize = function (map) {
                                    var div = document.createElement("div");
                                    div.appendChild(document.createTextNode("返回"));
                                    div.style = "box-shadow:rgba(0, 0, 0, 0.34902) 2px 2px 3px;border:1px solid #008059;background:#009d6d;padding: 2px 6px;font-size: 12px;line-height:1.3em; border-radius:3px;color:#fff;cursor:pointer";
                                    div.onclick = function (e) {
                                        map.clearOverlays();
                                        init(pointer);
                                    }
                                    map.getContainer().appendChild(div);
                                    return div;
                                }
                                map.addControl(new resetMap());
    
                                function resetMap() {
                                    this.defaultAnchor = BMAP_ANCHOR_TOP_RIGHT;
                                    this.defaultOffset = new BMap.Size(90, 10);
                                }
    
                                function init(pointer) {
                                    map.centerAndZoom(pointer, 16);
                                    map.addOverlay(marker);
                                    map.panBy(100, 150); //中心点偏移多少像素（width,height）为div 宽高的一半;
                                    setTimeout(function(){
                                        searchInfoWindow.open(marker);
                                    },300)
                                }
                                // 搜索周边
                                var LocalSearch = new BMap.LocalSearch(map, {
                                    renderOptions: {
                                        map: map,
                                        panel: "resultList"
                                    }
                                });
                            })
                        },
                    }  
                },
            <#elseif field.typeid='1468759275881291777'>
                {
                    path: '${field.typepath}',
                    name: '${field.typetitle}',
                    component: {
                        template: '<div class="common_content">'+
'                        <div class="expert_wrap clearfix">'+
'                          {ms:arclist orderby="sort"} '+
'                            <div class="box fl" @click="goto(\'{ms:global.url/}/${field.link}\')">'+
'                                <div class="imgs">'+
'                                    <img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="">'+
'                                </div>'+
'                                <div class="info">'+
'                                    <p class="name">${field.title}</p>'+
'                                    <p class="post">${field.keyword}</p>'+
'                                </div>'+
'                            </div>'+
'                          {/ms:arclist} '+
'                        </div>'+
'                    </div>',
                        mixins: [mixin],
                        data:function(){
                            return {

                            }
                        }
                    },
                }
            </#if>
            {/ms:channel}
        ]
    })
    var app = new Vue({
        router:router,
        mixins: [mixin],
        data:function(){
            return {
                typePath: '<#if field.typeid?has_content>${field.typeid}<#if field.parentids?has_content>,${field.parentids}</#if><#else>0</#if>',
                hasRoute: true
            }
        },
        created:function(){
            {ms:channel type='son' size=1}
            if (this.$route.path == '/') {
                this.push('${field.typepath}')
            }
            {/ms:channel}
        },
        methods: {

        },
    }).$mount('#app')
</script>
</html>